<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="codelean Template">
    <meta name="keywords" content="codelean, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Fashion</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}" integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Css Styles -->
    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{css/font-awesome.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{css/themify-icons.css}" type="text/css">
    <link rel="stylesheet" th:href="@{css/elegant-icons.css}" type="text/css">
    <link rel="stylesheet" th:href="@{css/owl.carousel.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{css/nice-select.css}" type="text/css">
    <link rel="stylesheet" th:href="@{css/jquery-ui.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{css/slicknav.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{css/style.css}" type="text/css">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>

<body>
    <!-- Start coding here -->
        <!-- Start coding here -->

    <!-- Page Preloder -->
    <div id="preloder" >
        <div class="loader"></div>
    </div>

    <!-- Header Selection Begin-->

        <!-- Header đầu tiên hiển thị các thông tin cơ bản/ Link/ Ngôn ngữ và thông tin đăng nhập -->

        <div class="header-top">
            <div class="container">
                <div class="ht-left">
                    <div class="mail-service">
                        <i class="fa fa-envelope"></i>
                        clothershop@gmail.com
                    </div>
                    <div class="phone-service">
                        <i class="fa fa-phone-square" aria-hidden="true"></i>
                        +84 921 131 999
                    </div>
                </div>
                
            </div>

            <div class="container">
                <div class="ht-right">
                    <a th:href="@{/login}" class="login-panel" style="width: 100px;" th:if="${session.userlogin == null}">
                        <i class="fa fa-user"></i>
                        Login
                    </a>

                    <!-- Hiển thị tên người dùng và nút "Logout" nếu người dùng đã đăng nhập -->
                    <a th:href="@{/logout}" class="login-panel" style="width: 100px;" th:unless="${session.userlogin == null}">
                        <span th:text="${session.userlogin.username}"></span>
                        Logout
                    </a>
                    <div class="lan-selector" >
                        <select class="language_drop" name="countries" id="countries" style="width: 300px;">
                            <option value="yt" data-image="img/flag-1.jpg" data-imagecss="flag yt">English</option>
                            <option value="yu" data-image="img/flag-2.jpg" data-imagecss="flag yu">German</option>
                        </select>
                    </div>
                    <div class="top-social">
                        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-telegram" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            
        </div>

        <!-- Chứa các thông tin Logo/ Thanh công cụ tìm kiếm/ và thông tin giỏ hàng -->
    <div class="container">
        <div class="inner-header">
            <div class="row">
                <div class="col-lg-2 col-md-2">
                    <div class="logo">
                        <a th:href="@{/}">
                            <img src="img/logo.png" height="25" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-lg-7 col-md-7">
                    <div class="advanced-search">
                        <button type="button" class="category-btn">
                            Show All
                        </button>
                        <div class="input-group">
                            <form th:action="@{/search}" method="post">
                                <input type="text" placeholder="Enter keywords, for example: skirts" name="keyword">
                                <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 text-right">
                    <ul class="nav-right">
                        <li class="heart-icon">
                            <a href="#">
                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                                <span></span>
                            </a>
                        </li>
                        <li class="cart-icon">
                            <a th:href="@{shopping-cart}">
                                <i class="fa fa-shopping-bag" aria-hidden="true">
                                    <span th:if="${session.carts}" th:text="${session.carts.size()}"></span>
                                </i>
                            </a>
                            <div class="cart-hover" >
                                <div class="select-items" >
                                    <table>
                                        <tbody>
                                        <tr th:each="c,loop:${session.carts}">
                                            <td class="si-pic"><img th:src="@{|/image/${c.getProduct().image_url}|}"
                                                                    width="100px" alt="#"></td>
                                            <td class="si-text">
                                                <div class="product-selected">
                                                    <p th:text="${c.getProduct().getExport_price()}"></p>
                                                    <h6 th:text="${c.product.product_name}"></h6>
                                                </div>
                                            </td>
                                            <td class="si-close">
                                                <a th:href="@{|/deleteCart/${c.getId()}|}"><i class="fa fa-trash"
                                                                                              aria-hidden="true"></i></a>
                                            </td>
                                        </tr>

                                        </tbody>
                                    </table>
                                </div>
                                <div class="select-total">
                                    <span>total: </span>
                                    <h5>
                                        <span th:if="${session.total != null}"> $</span>
                                        <span th:text="${session.total}"></span>
                                    </h5>
                                </div>
                                <div class="select-button">
                                    <a th:href="@{shopping-cart}" class="primary-btn view-cart">VIEW CARD</a>
                                    <a th:href="@{check-out}" class="primary-btn view-cart">CHECK OUT</a>
                                </div>
                            </div>
                        </li>
                        <li class="cart-price" th:if="${session.total != null}" th:text="'$' + ${session.total}">
                            <span> $</span>
                        </li>
                        <li class="cart-price" th:unless="${session.total != null}">
                            <span></span>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>

        <!-- Dòng menu lựa chọn chức năng màu đen -->
        <div class="nav-item">
            <div class="container">
                
                <!-- Menu danh sách lựa chọn -->
                <div class="nav-depart">
                    <div class="depart-btn">
                        <i class="fa fa-bars" aria-hidden="true"></i>
                        <span>All</span>
                        <ul class="depart-hover">
                            <li class="active"><a href="#">Women's Fashion</a></li>
                            <li><a href="#">Men's Fashion</a></li>
                            <li><a href="#">Women's Underwear</a></li>
                            <li><a href="#">Child Fashion</a></li>
                            <li><a href="#">Codeleanon Brand</a></li>
                            <li><a href="#">Fashion Accessories</a></li>
                            <li><a href="#">High End Brand</a></li>
                            <li><a href="#">Foreign Brand</a></li>
                        </ul>
                    </div>
                </div>

                <!-- Thẻ nav chưa menu điều hướng -->
                <nav class="nav-menu mobile-menu">
                    <ul>
                        <!-- Các tiêu đề chính của menu điều hướng -->
                        <li class="active"><a th:href="@{/}">Home</a></li>
                        <li><a th:href="@{/shop}">Shop</a></li>
                        <li><a href="#">Collection</a>
                            <ul class="dropdown">
                                <li><a href="">Spring/Summer 2023</a></li>
                                <li><a href="">Office Fashion</a></li>
                                <li><a href="">Personality</a></li>
                            </ul>
                        </li>
                        <li><a th:href="@{/blog}">Blog</a></li>
                        <li><a th:href="@{/contact}">Contact</a></li>
                        <li><a href="#">Pages</a>
                            <ul class="dropdown">
                                <li><a th:href="@{/blog-details}">Blog Details</a></li>
                                <li><a th:href="@{/shopping-cart}">Shopping Cart</a></li>
                                <li><a th:href="@{/check-out}">Checkout</a></li>
                                <li><a th:href="@{/faq}">Fag</a></li>
                                <li><a th:href="@{/register}">Register</a></li>
                                <li><a th:href="@{/login}">Login</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <!-- Thẻ div chưa id -->
                <div id="mobile-menu-wap"></div>
            </div>
        </div>

    <!-- Header Selection End-->

    <!--Breadcrumb Section Begin (điều hướng giúp định vị vị trí bạn đang ở đâu trong trang web)-->
        <div class="breacrumb-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="breadcrumb-text">
                            <a th:href="@{/}"><i class="fa fa-home"></i> Home</a>
                            <span>Register</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <!--Breadcrumb Section End-->

    
        <!--Register Section Begin-->
        <div class="register-login-section spad">
            <div class="container">
                <div class="row"> 
                    <div class="col-lg-6 offset-lg-3">
                        <div class="register-form">
                            <h2>Register an Account</h2>
                            <form action="/register" method="post" th:object="${register_form}"  >
                                <div class="group-input">
                                    <label for="username">User Name</label>
                                    <input type="text" id="username" name="username" th:field="*{username}">
                                    <p style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>
                                </div>
                                <div class="group-input">
                                    <label for="pass">Password</label>
                                    <input type="password" id="pass" name="password" th:field="*{password}">
                                    <p style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
                                </div>
                                <div class="group-input">
                                    <label for="email">Email</label>
                                    <input type="email" id="email" name="email" th:field="*{email}">
                                    <p style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
                                </div>

                                <button type="submit" class="site-btn register-btn">Register</button>
                            </form>
                            <div class="switch-login">
                                <a th:href="@{/login}" class="or-login">Come Login</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!--Register Section End-->



    <!-- Partner Logo Section Begin -->
        <div class="partner-logo">
            <div class="container">
                <div class="logo-carousel owl-carousel">
                    <div class="logo-item">
                        <div class="tablecell-inner">
                            <img src="img/logo-carousel/logo-1.png">
                        </div>
                    </div>

                    <div class="logo-item">
                        <div class="tablecell-inner">
                            <img src="img/logo-carousel/logo-2.png">
                        </div>
                    </div>

                    <div class="logo-item">
                        <div class="tablecell-inner">
                            <img src="img/logo-carousel/logo-3.png">
                        </div>
                    </div>

                    <div class="logo-item">
                        <div class="tablecell-inner">
                            <img src="img/logo-carousel/logo-4.png">
                        </div>
                    </div>

                    <div class="logo-item">
                        <div class="tablecell-inner">
                            <img src="img/logo-carousel/logo-5.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <!-- Partner Logo Section Begin -->

    <!-- Footer Section Begin -->
        <footer class="footer-section">
            <div class="container">
                <div class="row">
                    <!-- Chia làm 4 cột để sử dụng Bootstrap -->
                    <div class="col-lg-3">
                        <div class="footer-left">
                            <div class="footer-logo">
                                <a href="index.html">
                                    <img src="img/footer-logo.png" height="25" alt="">
                                </a>
                            </div>
                            <ul>
                                <li>1A Yết kiêu . Hà Nội</li>
                                <li>Phone: 0946116169</li>
                                <li>Email: tuthouse@gmail.com</li>
                            </ul>
                            <div class="footer-social">
                                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-telegram" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-2 offset-lg-1">
                        <div class="footer-widget">
                            <h5>Information</h5>
                            <ul>
                                <li><a href="">About Us</a></li>
                                <li><a href="">Checkout</a></li>
                                <li><a href="">Contact</a></li>
                                <li><a href="">Serivius</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-2">
                        <div class="footer-widget">
                            <h5>My Account</h5>
                            <ul>
                                <li><a href="">My Account</a></li>
                                <li><a href="">Contact</a></li>
                                <li><a href="">Shopping cart</a></li>
                                <li><a href="">Shop</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="newslatter-item">
                            <h5>Join Our Newsletter Now</h5>
                            <p>Get E-Mail update about our latest shop and special offers</p>
                            <form action="#" class="subscribe-form">
                                <input type="text" placeholder="Nhập email">
                                <button type="button">Subscribe</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Thông tin nhà phát triển -->
            <div class="copyright-reserved">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="copyright-text">
                                ShopClother
                            </div>
                            <!-- Ảnh logo các nhà cung cấp phương thức thanh toán -->
                            <div class="payment-pic">
                                <img src="img/payment-method.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    <!-- Footer Section Begin -->
    <script>
        function registerForm(form) {
            swal({
                title: "Success!",
                text: "Successful account registration!",
                icon: "success",
            });
        }
    </script>

    <!-- Js Plugins -->
    <script th:src="@{js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{js/bootstrap.min.js}"></script>
    <script th:src="@{js/jquery-ui.min.js}"></script>
    <script th:src="@{js/jquery.countdown.min.js}"></script>
    <script th:src="@{js/jquery.nice-select.min.js}"></script>
    <script th:src="@{js/jquery.zoom.min.js}"></script>
    <script th:src="@{js/jquery.dd.min.js}"></script>
    <script th:src="@{js/jquery.slicknav.js}"></script>
    <script th:src="@{js/owl.carousel.min.js}"></script>
    <script th:src="@{js/main.js}"></script>
</body>

</html>